<div mat-dialog-content class="post">
  <img class="post_img" style="object-fit: cover;" src="{{apiUrl + '/' + data.post.link}}">
  <div class="post_content">
    <h1>{{data.post.User.login}}</h1>
    <p>{{data.post.description}}</p>

    <mat-divider></mat-divider>

    <div class="post_actions">
      <button mat-icon-button (click)="likeToggle()">
        <mat-icon *ngIf="!userLiked">favorite_border</mat-icon>
        <mat-icon *ngIf="userLiked">favorite</mat-icon>
        {{data.post.likes_count}}
      </button>
      <app-comment-create class="post_actions_comment" [postId]="data.post.id" (commentAdd)="onCommentAdd($event)"></app-comment-create>
    </div>

    <p>Comments</p>

    <mat-list>
      <app-comment *ngFor="let comment of comments" [item]="comment" (commentDelete)="onCommentDelete($event)"></app-comment>
    </mat-list>

  </div>
</div>