<div class="main">
    <div class="main_photo_boom">
        <a href="#" class="signup_header_title_link">Photo Boom</a>
    </div>
</div>

<div class="maain_mat_toolbar">
    <mat-toolbar class="buttons">

        <button name="allFeed">
            <mat-icon aria-hidden="false" aria-label="allFeed">apps</mat-icon>
        </button>

        <button name="search">
            <mat-icon aria-hidden="false" aria-label="search">search</mat-icon>
        </button>
        
        <button name="dowload">
            <mat-icon aria-hidden="false" aria-label="dowload">add_a_photo</mat-icon>
        </button>

        <button name="like">
            <mat-icon aria-hidden="false" aria-label="like">favorite_border</mat-icon>
        </button>

        <button name="myProfile">
            <mat-icon aria-hidden="false" aria-label="homeIcon">home</mat-icon>
        </button>

    </mat-toolbar>
</div>