<div class="singup">
    <div class="container">
        <div class="signup_inner">
            <div class="signup_header_title">
                <a href="#" class="signup_header_title_link">Photo Boom</a>
            </div>
            <div class="signup_inner_data">
                <div class="signup_header">
                    <div class="signup_header_inner">

                        <div class="signup_title">
                            <br> Community of photographers
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>